div 
{
    width: 70%;
}
ul
{
    list-style: none;
      color: ;
      margin: 10px;   
}
li{
    color: #3E0549  ;

}
h2{
    font-size: 14px;
    color: #2D0434 ;
}
h1{
    color: #2D0434 ;
}
u{
    color: #2D0434 ;
}
.button{
    float: right;
    padding_right: 3px;
    border-radius: 10px;
    background-color: black;
    border-color: white;
    color: white;
}
.button:hover{
   background-color:black ;
     border-radius: 10px;
      border-color: white;
      color: white;
}
.questions{
    font-weight: bold;
    color: #2D0434 ;

}

#trait
{
    border-top: 1px solid #000;
    width: 700px;
}